<div>
<p>Capital: <span>{{capital}}</span></p>
<p>Population: <span>{{population}}</span></p>
<p>Languages: 
    <ul>
    {{#each languages}}
        <li>{{language}}</li>
    {{/each}}
    </ul>
</p>
</div>